/* KEY: Green = on, blue = cant change, red = off */

html {
    text-align: center;
    width: 100%;
    background: #b7b7b7;
}

body {
    margin-top: 0px;
}

.Title_div {
    display: inline-block;
    background: grey;
    height: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 20px;
}

.Title_text {
    margin:0px; 
    padding:20px; 
    display: inline-block;
}

.GPIO_rect_blue {
    background: #313196;
}

.GPIO_rect_green {
    background: #1f8c1f;
}

.GPIO_rect_red {
    background: #9e1818;
}

.GPIO_rect_blue, .GPIO_rect_red, .GPIO_rect_green {
    border-radius: 10px;
    display: inline-block;
    margin: 10px 5px;
    vertical-align: middle;
}

.gpiobuttons {
    display: inline-block;
    vertical-align: middle;
}

inlineBlock {
    display: inline-block;
}

block {
    display: block;
}

.GPIO_text, .GPIO_text_blue {
    padding: 20px;
    width: 55px;
}

.GPIO_text_blue {
    padding: 30px 20px;
}
